@import "./base/normalize";

@import "./utils/variables";
@import "./utils/base";
@import "./utils/placeholders";
@import "./utils/mixin";
@import "./utils/utils";
@import "./utils/fonts";

@import "./components/container";
@import "./components/section";

@import "./components/page-header";
@import "./components/logo";
@import "./components/navigations";
@import "./components/contact-header";

@import "./components/order";

@import "./components/modal-window";
@import "./components/modal-form";

@import "./components/skill";

@import "./components/study";

@import "./components/team";

@import "./components/clients";

@import "./components/page-footer";
@import "./components/contact-footer";

@import "./components/buttons-subscribe";
@import "./components/buttons";
@import "./components/buttons-filtr";

@import "./components/product-card";

