.filtr-set {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.filtr-set__item:not(:last-child) {
  margin-right: 8px;
}

.filtr-set__button {
  display: inline-block;
  padding: 6px 22px;

  color: inherit;
  cursor: pointer;
  font-family: $main-fonts;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  background: $white-btn-filtr-color;
  border-radius: 4px;
  border-color: transparent;

  transition: color 250ms $main-bezier, background-color 250ms $main-bezier,
    box-shadow 250ms $main-bezier;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $blue-color;
    box-shadow: $box-shadow-btn-filtr;
  }
}
