.site-contact {
  display: flex;
  margin-left: auto;
}

.site-contact__item:not(:last-child) {
  margin-right: 50px;
}

.site-contact__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: $gray-main-color;
  font-family: $main-fonts;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms $main-bezier;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.site-contact__icon {
  display: flex;
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: $blue-color;
  }
}
