.box-communications {
  width: 231px;
}

.contact-footer {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $white-opacity-color;

  &:first-child {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.contact-footer__map {
  color: $white-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.contact-footer__link {
  color: $white-opacity-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}
