.study {
  padding-top: 0;
}

.study-caption {
  @extend %caption;
}
.product-set {
  display: flex;
}

.product-set__item:not(:last-child) {
  margin-right: 30px;
}

.product-set__box {
  position: relative;
}

.product-set__case {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: $bg-color-study;
}

.product-set__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}
